<h1>Edit An Existing Product</h1>

<%= form_tag("/products/#{@product.id}", :method => :patch) do %>
<div id="form-wrap">
<div>
	<%= label_tag :title %>
		<%= text_field_tag :title, @product.title %>
</div>
<div>
	<%= label_tag :price %>
		<%= text_field_tag :price, @product.price%>
</div>
<div>
	<%= label_tag :description%>
		<%= text_field_tag :description, @product.description %>
</div>
<div>
	<%= label_tag :image %>
		<%= text_field_tag :image, @product.image %>
</div>
<div>
	<%= label_tag :category %>
		<%= text_field_tag :category, @product.category %>
</div>
<div>
	<%= label_tag :vendor %>
		<%= text_field_tag :vendor, @product.vendor.name %>
</div>
<%= submit_tag "Update Product"%>
</div><!-- end form wrap -->
<% end %>