<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EcommerceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Pigeon_silhouette_4874.svg/200px-Pigeon_silhouette_4874.svg.png" width="150px" height="100px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="nav-form-wrapper"> 
        <ul class="nav navbar-nav">
          <li><a href="#">Jerseys<span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Equipment<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/products?category=helmets">Helmets</a></li>
              <li><a href="/products?category=sticks">Sticks</a></li>
              <li><a href="/products?category=gloves">Gloves</a></li>
              <li><a href="/products?category=shoulder_pads">Shoulder Pads</a></li>
              <li><a href="/products?category=pads">Pants</a></li>
              <li><a href="/products?category=shin-guards">Shin Guards</a></li>
              <li><a href="/products?category=skates">Skates</a></li>
            </ul>
          </li>
          <li><a href="#">Apparel</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Clearance</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <%= form_tag '/products', :method => :get, :class => 'navbar-form navbar-left' do %>
        	<%= text_field_tag :search %>
        	<%= submit_tag "Search" %>
        <% end %>
      </div>
      <!-- <form action="/products" method="get" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<% flash.each do |name, message| %>
  <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
  </div>
  <% end %>
<%= yield %>
</div><!-- end main container -->
</body>
</html>
